{% extends 'base.html.twig' %}

{% block title %}Question index{% endblock %}

{% block body %}
    <h1>Question index</h1>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Zone</th>
            <th scope="col">Type</th>
            <th scope="col">property</th>
            <th scope="col">Parent</th>
            <th scope="col">action</th>
        </tr>
        </thead>
        <tbody>
        {% for question in questions %}
            <tr>
                <th scope="row">{{ question.id }}</th>
                <td>{{ question.label }}</td>
                <td>{{ question.zoneId }}</td>
                <td>{{ question.typeId }}</td>
                <td>{{ question.propertieId }}</td>
                <td>{{ question.parent }}</td>
                <td>
                    <div class="test">test ajax</div>
                    <a href="{{ path('question_show', {'id': question.id}) }}">
                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true">show</span>
                    </a>
                    <a href="{{ path('question_edit', {'id': question.id}) }}">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true">edit</span>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('question_new') }}">Create new</a>

    <nav aria-label="Page navigation example" class="d-flex justify-content-center">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            {% for i in 1..total %}
            <li class="page-item"><a class="page-link" href="{{ path('question_index', {'page' : i}) }}">{{ i }}</a></li>
            {% endfor %}
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}
