{% extends 'base.html.twig' %}

{% block title %}Question{% endblock %}

{% block body %}
    <h1>Question</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ question.id }}</td>
            </tr>
            <tr>
                <th>Label</th>
                <td>{{ question.label }}</td>
            </tr>
            <tr>
                <th>ZoneId</th>
                <td>{{ question.zoneId }}</td>
            </tr>
            <tr>
                <th>TypeId</th>
                <td>{{ question.typeId }}</td>
            </tr>
            <tr>
                <th>PropertieId</th>
                <td>{{ question.propertieId }}</td>
            </tr>
            <tr>
                <th>Parent</th>
                <td>{{ question.parent }}</td>
            </tr>
            <tr>
                <th>Enabled</th>
                <td>{{ question.enabled ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ question.createdAt ? question.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>CreationUserId</th>
                <td>{{ question.creationUserId }}</td>
            </tr>
            <tr>
                <th>UpdateUserId</th>
                <td>{{ question.updateUserId }}</td>
            </tr>
            <tr>
                <th>Timestamp</th>
                <td>{{ question.timestamp ? question.timestamp|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('question_index') }}">back to list</a>

    <a href="{{ path('question_edit', {'id': question.id}) }}">edit</a>

    {{ include('question/_delete_form.html.twig') }}
{% endblock %}
